@{
    Layout = null;
}


<!-- Payment Section Starts -->
<div class="row d-lg-none">
    <span class="step-title">Make Payment</span>
    <p class="hr-line"></p>
</div>
<div class="row">
    <label class="form-label">Please confirm your booking !!!</label>
    <p class="hr-line"></p>
</div>
<div class="d-flex flex-row-reverse">
    <input type="button" class="btn btn-large-outline" value="Complete Booking" />
</div>
