@{
    Layout = null;
}


<!-- Schedule & Plan Section Starts -->

    <div class="row d-lg-none">
        <span class="step-title">Schedule & Plan</span>
        <p class="hr-line"></p>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="row">
                <label class="form-label">When do you need the cleaner?</label>
            </div>
            <div class="row form-group">
                <div class="col-7">
                    <input class="form-control date" type="date" id="serviceDate" value="@DateTime.Now.ToString("yyyy/MM/dd")" min="@DateTime.Now.ToString("yyyy/MM/dd")" />
                    <span class="text-danger" id="serviceDateError" ></span>
                </div>
                <div class="col-4">
                    <select class="form-select" id="serviceStartTime">
                        <option value="8" selected>8:00</option>
                        <option value="8.5">8:30</option>
                        <option value="9">9:00</option>
                        <option value="9.5">9:30</option>
                        <option value="10">10:00</option>
                        <option value="10.5">10:30</option>
                        <option value="11">11:00</option>
                        <option value="11.5">11:30</option>
                        <option value="12">12:00</option>
                        <option value="12.5">12:30</option>
                        <option value="13">13:00</option>
                        <option value="13.5">13:30</option>
                        <option value="14">14:00</option>
                        <option value="14.5">14:30</option>
                        <option value="15">15:00</option>
                        <option value="15.5">15:30</option>
                        <option value="16">16:00</option>
                        <option value="16.5">16:30</option>
                        <option value="17">17:00</option>
                        <option value="17.5">17:30</option>
                        <option value="18">18:00</option>
                        <option value="18.5">18:30</option>
                    </select>
                    <span class="text-danger" id="serviceStartTimeError"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="row">
                <label class="form-label">How long do you need your cleaner to stay?</label>
            </div>
            <div class="row form-group">
                <div class="col-4">
                    <select class="form-select" id="serviceTotalTime">
                        <option value="3" selected>3.0 Hrs</option>
                        <option value="3.5">3.5 Hrs</option>
                        <option value="4">4.0 Hrs</option>
                        <option value="4.5">4.5 Hrs</option>
                        <option value="5">5.0 Hrs</option>
                        <option value="5.5">5.5 Hrs</option>
                        <option value="6">6.0 Hrs</option>
                        <option value="6.5">6.5 Hrs</option>
                        <option value="7">7.0 Hrs</option>
                        <option value="7.5">7.5 Hrs</option>
                        <option value="8">8.0 Hrs</option>
                        <option value="8.5">8.5 Hrs</option>
                        <option value="9">9.0 Hrs</option>
                        <option value="9.5">9.5 Hrs</option>
                    </select>
                    <span class="text-danger" id="serviceTotalTimeError"></span>
                </div>
            </div>
        </div>
        <p class="hr-line"></p>
    </div>
    <div class="row form-group">
        <div class="col-12">
            <label class="form-label">Extra Services</label>
        </div>
        <div class="col-12">
            <!-- Logic for Extra Services -->
            <div class="container-wrapper mt-3">

                <label class="form-label">
                    <input class="extra-service-checkbox" type="checkbox" name="cabinet" id="extra-service-inside-cabinet" value="1" />
                    <div class="extra-service-wrapper text-center">
                        <div class="img-container mb-2">
                            <div class="img-wrapper">
                                <img src="~/images/extra-service-inside-cabinet.png" alt="">
                            </div>
                        </div>
                        <div class="extra-service-title mb-4">Inside cabinets</div>
                    </div>
                </label>
                <label class="form-label">
                    <input class="extra-service-checkbox" type="checkbox" name="fridge" id="extra-service-inside-fridge" value="2" />
                    <div class="extra-service-wrapper text-center">
                        <div class="img-container mb-2">
                            <div class="img-wrapper">
                                <img src="~/images/extra-service-inside-fridge.png" alt="">
                            </div>
                        </div>
                        <div class="extra-service-title mb-4">Inside fridge</div>
                    </div>
                </label>
                <label class="form-label">
                    <input class="extra-service-checkbox" type="checkbox" name="oven" id="extra-service-inside-oven" value="3" />
                    <div class="extra-service-wrapper text-center">
                        <div class="img-container mb-2">
                            <div class="img-wrapper">
                                <img src="~/images/extra-service-inside-oven.png" alt="">
                            </div>
                        </div>
                        <div class="extra-service-title mb-4">Inside oven</div>
                    </div>
                </label>
                <label class="form-label">
                    <input class="extra-service-checkbox" type="checkbox" name="laundry" id="extra-service-inside-laundry" value="4" />
                    <div class="extra-service-wrapper text-center">
                        <div class="img-container mb-2">
                            <div class="img-wrapper">
                                <img src="~/images/extra-service-inside-laundry.png" alt="">
                            </div>
                        </div>
                        <div class="extra-service-title mb-4">Laundry wash & dry</div>
                    </div>
                </label>
                <label class="form-label">
                    <input class="extra-service-checkbox" type="checkbox" name="window" id="extra-service-inside-windows" value="5" />
                    <div class="extra-service-wrapper text-center">
                        <div class="img-container mb-2">
                            <div class="img-wrapper">
                                <img src="~/images/extra-service-interior-windows.png" alt="">
                            </div>
                        </div>
                        <div class="extra-service-title mb-4">Inside cabinets</div>
                    </div>
                </label>


            </div>
        </div>
        <p class="hr-line"></p>
    </div>
    <div class="row">
        <div class="col-12">
            <label class="form-label">Comments</label>
        </div>
        <div class="col-12 form-group">
            <textarea class="form-control" placeholder="Comments"></textarea>
            <span class="text-danger"></span>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="">
                <label class="form-check-label">
                    I have pets at home.
                </label>
            </div>
        </div>
        <p class="hr-line"></p>
    </div>
    <div class="d-flex flex-row-reverse">
        <input type="button" class="col-3 btn btn-primary" value="Continue" />
    </div>


<script>

    $("#serviceDate").change(() => {
        
        var date = new Date($("#serviceDate").val());

        var day = ("0" + date.getDate()).slice(-2);
        var month = ("0" + (date.getMonth() + 1)).slice(-2);
        var year = date.getFullYear();

        $("#serviceDateSummary").text(day + "/" + month + "/" + year);
       
    });

    $("#serviceStartTime").change(() => {

        var startTime = $("#serviceStartTime").val();
        var startHour = Math.floor(startTime);
        var startMinute = startTime - startHour;

        if (startMinute > 0) {
            minute = "30";
        }
        else {
            minute = "00";
        }
        console.log(startHour + ":" + minute);

        $("#serviceStartTimeSummary").text(startHour + ":" + minute);
       
    });

    $("#serviceTotalTime").change(() => {
        $("#basicTime").text($("#serviceTotalTime").val() + " Hrs");
    });


</script>                    