/* Main Navabr */
ul {list-style: none;}
.navbar { padding: 5px 15px; background: rgba(39,39,39,.7); z-index: 1000;}
a.navbar-brand { padding: 0; }
.nav-item { margin-left: 5px }
a.nav-link { color: #FFFFFF; border: 1px solid transparent; border-radius: 40px; transition: 0.3s all; }
a.nav-link:hover { color: #FFFFFF; border-color: rgba(255,255,255,.5) !important; }
.nav-item.btn-border a.nav-link { overflow: hidden; background-color: #005F7099; border-color: rgba(255,255,255,.5) !important; transition: 0.3s all; }
.nav-item.btn-border a.nav-link:hover { color: #005F7099; background-color: #FFFFFF }

/* Side Navbar */
a { text-decoration: none; }

.open .wrapper-background { position: fixed; top: 0; left: 0; height: 100vh; width: 100%; z-index: 1100; background-color: rgba(0, 0, 0, 0.5); transition: 0.2s; overflow: hidden; }
.side-navbar { width: 0; overflow: hidden; }
.wrapper-background .side-navbar { position: fixed; z-index: 1200; top: 0; bottom: 0; right: 0; left: 100%; transition: all 0.3s ease }
.open .side-navbar { max-width: 256px; height: 100vh; width: 250px; background-color: #FFFFFF; left: calc(100% - 250px); }
.nav-container { border-bottom: 1px solid #d8d8d8 }
.side-navbar .nav-container ul { margin: 0; padding: 8px 0; }
.side-navbar .nav-container ul li a { padding: 8px 20px; line-height: 1; display: block; cursor: pointer; color: #646464; font-size: 1rem; }
.side-navbar .nav-container ul li a.active { background-color: #F6F6F6; color: #1D7A8C }
.side-navbar .nav-container ul li a:hover { background-color: #F6F6F6; color: #1D7A8C }

.header-section .container-fluid {padding: 0;}
.header-section .welcome-msg { background-color: #F9F9F9; height: 184px; padding: 104px 15px 40px; border-bottom: 1px solid #e1e1e1; }

/* Home and sp-sign-up large-transparent navbar  */
.large-header .navbar { padding: 15px; background: transparent; }
.large-header .nav-item.btn-border a.nav-link { background: transparent; }
.large-header .nav-item.btn-border a.nav-link:hover { color: #005F7099; background-color: #FFFFFF;}

/* Banner Image which is under Navbar */
.img-fluid.hero { padding-top: 64px; }

@media screen and (max-width: 778px) {
    .hero.img-fluid { display: none; }
}

/* Login Modal */
input:focus, select:focus {box-shadow: 0 0 0 0.25rem #1d7a8c45; border-color: #1d7a8c45;}

.modal-dialog {max-width: 360px;}
.modal-header, .modal-body {padding: 0 !important; border: none;}
.modal-dialog .modal-content {padding: 25px; position: relative;}
.modal-header {color: #646464; margin-bottom: 45px; border-bottom: 0;}
.modal-header h4 {font-weight: 700;}
.modal-header .btn-close {position: absolute; top: 0; right: 0; padding: 15px; margin: 0;}

.modal-content .modal-body .form-group {position: relative; margin-bottom: 15px;}
.modal-content .modal-body .form-group .form-control {padding: 12px 60px 12px 15px;}
.modal-content .modal-body .form-group img { position: absolute; background: transparent; top: 13px; right: 20px;}

.modal-content .modal-body .form-check {margin-bottom: 15px;}
.modal-content .modal-body .form-check .form-check-input {height: 20px; width: 20px;margin-top: 2px;}
.modal-content .modal-body .form-check .form-check-input:checked {border-color: #1d7a8c; background-color: #1D7A8C;}
.modal-content .modal-body .form-check .form-check-label {color: #4F4F4F; padding-left: 5px; line-height: 1;}

.modal-content .btn {width: 100%; padding: 15px 30px; border-radius: 54px; color: #FFFFFF; background-color: #1D7A8C; border: transparent !important; font-size: 18px; font-weight: 700; margin-bottom: 25px;}
.modal-content p {color: #646464; font-size: 16px; margin: 0;}
.modal-content .modal-body .login-modal-link {color: #1D7A8C;}
.nav-link:focus { color: #FFFFFF;}




.side-navbar .side-navbar-welcome-msg {font-size: 14px; padding: 10px 20px; border-bottom: 1px solid #d8d8d8}
.icon .nav-link { border: none; padding: 4px 12px !important;}
.notification-icon {margin-left: 10px !important ; border-left: 1px solid #FFF; border-right: 1px solid #dfd5d5e3;}
button.nav-link {background: transparent !important; }
.icon.profile-icon .arrow {padding-left: 5px;}
.profile-icon .dropdown-toggle::after {display: none !important;}
.profile-icon .dropdown-menu {position: absolute; width: 200px; top: 70px; right: 10px !important; box-shadow: 0 0 10px rgb(0 0 0 / 30%)}
.profile-icon .dropdown-menu:after {position: absolute; top: 0; content: ""; border-width: 0 8px 12px 8px; border-style: solid; border-color: transparent transparent rgb(255, 255, 255) transparent; top: -12px; right: 35px;}
.profile-icon .dropdown-menu[data-bs-popper] {left: auto !important;}
.dropdown-item.side-navbar-welcome-msg { border-bottom: 1px solid #e1e1e1 }