@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_StaticPageLayout.cshtml";
}

<link rel='stylesheet' href="~/css/about.css">

<main>
    <!-- Hero Image -->
    <img src="~/images/hero-banner-img.png" class="img-fluid hero" alt="...">

    <div class="container">
        <div class="row d-flex justify-content-center">
            <!-- About Us Starts -->
            <section class="about-us">
                <h2 class="title">A few words about us</h2>
                <p class="text-center">We are providers of professional home cleaning services, offering hourly based house cleaning options, which mean that you don’t have to fret about getting your house cleaned anymore. We will handle everything for you, so that you can focus on spending your precious time with your family members.</p>
                <p class="text-center">We have a number of experienced cleaners to help you make cleaning out or shifting your home an easy affair.</p>
            </section>
            <!-- About Us Ends -->
            <!-- Our Story Starts -->
            <section class="our-story">
                <h2 class="title">Our Story</h2>
                <p class="text-center">A cleaner is a type of industrial or domestic worker who cleans homes or commercial premises for payment. Cleaners may specialise in cleaning particular things or places, such as window cleaners. Cleaners often work when the people who otherwise occupy the space are not around. They may clean offices at night or houses during the workday.</p>
            </section>
            <!-- Our Story Ends -->
        </div>
    </div>

</main>