@{
    ViewData["Title"] = "Prices & Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel='stylesheet' href="~/css/prices.css">

<main>
    <!-- Hero Image -->
    <img src="~/images/group-18.png" class="img-fluid hero" alt="...">

    <!-- Price Section -->
    <section class="price-section">
        <h1 class="title">Prices</h1>
        <div class="container d-flex justify-content-center">
            <div class="price-panel">
                <div class="price-detail text-center">
                    <span>18 € <small>/hr</small></span>
                    <ul>
                        <li><img width="25" src="~/images/checkmark-blue.png" alt="">Lower prices</li>
                        <li><img width="25" src="~/images/forma-1_5.png" alt="">Easy online & secure payment</li>
                        <li><img width="25" src="~/images/forma-1_5.png" alt="">Easy amendment</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- What we include Section -->
    <section class="include-section">
        <h2 class="title">What we include in cleaning</h2>
        <div class="container">
            <div class="row">

                <div class="col-sm-4">
                    <img src="~/images/group-18_3.png" class="img-fluid" alt="...">
                    <h5>Bedroom and Living Room</h5>
                    <ul>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Included Dust all accessible surfaces
                        </li>
                        <li class="d-block">
                            <img src="~/images/included-green.png" alt="">Included Wipe down all mirrors and glass fixtures
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Not Included Clean all floor surfaces
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Included Take out garbage and recycling
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">To clean up
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Make beds
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <img src="~/images/group-18_4.png" class="img-fluid" alt="...">
                    <h5>Bathrooms</h5>
                    <ul>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Included Wash and sanitize the toilet, shower, tub, sink
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Not Included Dust all accessible surfaces
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Included Wipe down all mirrors and glass fixtures
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Not Included Clean all floor surfaces
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Included Take out garbage and recycling
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <img src="~/images/group-18_2.png" class="img-fluid" alt="...">
                    <h5>Kitchen</h5>
                    <ul>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Cleaning the sink
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Cleaning the oven (outside)
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Cleaning the work surfaces
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Included Dust all accessible surfaces
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Included Clean all floor surfaces
                        </li>
                        <li class="d-flex align-items-center">
                            <img src="~/images/included-green.png" alt="">Included Take out garbage and recycling
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <!-- Extra Services Section -->
    <section class="extra-service-section">
        <h2 class="title">Extra Services</h2>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="service-wrapper text-center">
                    <div class="service-icon-wrapper d-flex justify-content-center align-items-center">
                        <div><img src="~/images/3.png" alt=""></div>
                    </div>
                    <div class="service-name">Inside cabinets</div>
                    <span class="service-time">30 Minutes</span>
                </div>
                <div class="service-wrapper text-center">
                    <div class="service-icon-wrapper d-flex justify-content-center align-items-center">
                        <div><img src="~/images/5.png" alt=""></div>
                    </div>
                    <div class="service-name">Inside fridge</div>
                    <span class="service-time">30 Minutes</span>
                </div>
                <div class="service-wrapper text-center">
                    <div class="service-icon-wrapper d-flex justify-content-center align-items-center">
                        <div><img src="~/images/4.png" alt=""></div>
                    </div>
                    <div class="service-name">Inside oven</div>
                    <span class="service-time">30 Minutes</span>
                </div>
                <div class="service-wrapper text-center">
                    <div class="service-icon-wrapper d-flex justify-content-center align-items-center">
                        <div><img src="~/images/2.png" alt=""></div>
                    </div>
                    <div class="service-name">Laundry Wash</div>
                    <span class="service-time">30 Minutes</span>
                </div>
                <div class="service-wrapper text-center">
                    <div class="service-icon-wrapper d-flex justify-content-center align-items-center">
                        <div><img src="~/images/1.png" alt=""></div>
                    </div>
                    <div class="service-name">Interior windows</div>
                    <span class="service-time">30 Minutes</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Why Helperland Section -->
    <section class="helperland-section">
        <h2 class="title">Why Helperland</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <h4>Experienced and vetted professionals</h4>
                        <p>dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                    </div>
                    <div>
                        <h4>Dedicated customer service</h4>
                        <p>to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. you need.</p>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <img src="~/images/the-best-img-1.png" alt="">
                </div>
                <div class="col-lg-4">
                    <div>
                        <h4>Every cleaning is insured</h4>
                        <p>and seek to provide exceptional service and engage in proactive behavior. We'd be happy to clean your homes.</p>
                    </div>
                    <div>
                        <h4>Secure online payment</h4>
                        <p>Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>