@model Helperland.Models.User;

@{
    ViewData["Title"] = "User Registration";
    Layout = "~/Views/Shared/_StaticPageLayout.cshtml";
}

<link rel='stylesheet' href="~/css/user-sign-up.css">

<!-- Main Content Starts -->
<main>
    <!-- Price Section -->
    <section class="main-section">
        <h1 class="title">Create an account</h1>
        <div class="container">
            <form asp-action="UserSignUp" class="m-auto px-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input asp-for="FirstName" type="text" class="form-control" placeholder="First name">
                        </div>
                        <span asp-validation-for="FirstName"></span>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input asp-for="LastName" type="text" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email address">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">+49</span>
                            <input asp-for="Mobile" type="text" placeholder="Mobile Number" class="form-control" aria-label="Mobile Number" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Confirm Password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Yes, I would like to subscribe to the newsletter of Helperland GmbH with vouchers, trends, promotions and individualized offers. I can unsubscribe from the newsletter at any time in the newsletter and in the customer account itself.
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            I agree with the <a href="#" class="check-link">terms and conditions</a> of Helperland GmbH.
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            I have read the <a href="#" class="check-link">privacy policy</a>.
                        </label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary m-auto">Register</button>
                </div>
                <div class="row text-center">
                    <p>Already register? <a href="#" class="check-link">Login now</a></p>
                </div>
            </form>
        </div>
    </section>

</main>
<!-- Main Content Ends -->