* {box-sizing: border-box}
h4 {margin: 0; font-weight: bold; font-size: 22px;}

/* Service History Section Starts */
.service-history .container-fluid {padding-top: 30px; padding-bottom: 30px;}
.left {height: 100%}
.list-group .list-group-item {border: 0px; border-bottom: 1px solid rgba(255, 255, 255, 0.2); background-color: #1D7A8C; color: #FFFFFF; font-size: 1.125rem; padding: 17px 15px; line-height: 1; transition: 0.2s linear;}
.list-group .list-group-item.active {background-color: #146371;}
.list-group .list-group-item:hover {background-color: #146371;}
.list-group {border-radius: 0px}

/* Main Content Starts */
.table-header-top {margin-bottom: 10px}
.table-header-top h4 {color: #646464}
.table-header-top button {height: 34px; width: 70px; background-color: #1d7a8c; color: #FFFFFF; outline: none; border: 0; border-radius: 34px}
.table-header-top button:hover {background-color: #146371 !important}
.sortable {cursor: pointer}
table {border: 1px solid #E1E1E1;}
table thead {background: #F9F9F9; border: 1px solid #E1E1E1; height: 49px;}
table thead tr > th img {padding-left: 8px;}
tbody tr {border: 1px solid #E1E1E1}

tbody tr td div span.service-date {margin-bottom: 6px; font-weight: bold;}
tbody tr td div span.service-date img {padding-right: 4px}
tbody tr td div span.service-time img {padding-right: 3px;}
.service-history .customer-name {padding-left: 5px; line-height: 1}
tbody tr td div span.customer-address img {padding-right: 3px}

.rating-icons {padding-left: 5px;}
h6 {margin: 0; padding-left: 10px;}
.payment-text {font-size: 1.5rem; color: #1d7a8c; font-weight: 700}
.rate-action button {outline: none; border: none; border-radius: 70px; height: 34px; width: 70px; color: #FFFFFF; background-color: #1d7a8c; font-size: 14px;}
.rate-action button:hover {background-color: #146371!important;}
td.service-status div {height: 22px; padding-top: 2px; margin: 0 auto; color: #FFFFFF; font-size: 12px;}
td.service-status.complete div{width: 82px; background-color: #67b644;}
td.service-status.cancel div{width: 76px; background-color: #ff6b6b;}



@media screen and (max-width: 767px) {
    /* Main Content Responsice */
    thead {display: none}
    table {border: none}
    table tbody tr {display: block; padding: 30px; margin-bottom: 35px; box-shadow: 0 0 6px rgb(0 0 0 / 25%);}
    tbody tr td {display: block; padding: 15px 0 !important; margin: 0 !important ; color: #646464; border-bottom: 1px solid #E1E1E1 !important;}
    tbody tr td:nth-child(1) {padding-top: 0 !important}
    tbody tr td:nth-child(2) div {display: inline-block; margin-right: 10px;}
    tbody tr td:last-child {text-align: center; padding-bottom: 0px !important; border-bottom: none !important;}
}