footer > .row {
    background-color: #111111;
}
footer > .row > .col-12 > .container.footer__content {
    height: 132px;
    padding-left: 20px;
    padding-right: 20px;
    /* border-bottom: 1px solid #424242; */
}
.footer__copyright > .container {
    font-size: 0.875rem;
    border-top: 1px solid #424242;
    padding: 22px 0;
}
footer > .row > .col-12 > .container > div > a:any-link {
    text-decoration: none;
    color: #F1F1F1;
    text-transform: uppercase;
    font-size: 0.875rem;
}
footer > .row > .col-12 > .container > .footer__links > a.nav-link {
    font-size: 0.875rem;
}

@media (min-width: 1400px) {
    footer > .row > .container {
        width: 1320px;
    }
}