/* Navbar */
.container-fluid.navbar__container {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #525252;
    height: 64px;
}
.navbar-nav {
    background-color: #525252;
    color: #FFFFFF;
    width: 100%;
}
.navbar-nav > a:any-link {
    color: #FFFFFF;
    font-size: 17px;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");  
}
.navbar-toggler {
    border: 1px solid #FFFFFF;
} 
.nav-link {
    line-height: 17px;
    text-align: center;
    cursor: pointer;
}

/* Links inside the navbar */
.custom__btn {
    height: 40px;
    background-color: #29626D;
    border-radius: 20px;
    border: 1px solid #FFFFFF80;
    padding: auto;
}
.custom__btn.btn__1 {
    width: 111px;
}
.custom__btn.btn__2 {
    width: 161px;
    margin-left: 10px;
}
.custom__btn.btn__3 {
    width: 83px;
    margin-left: 35px;
}
.custom__btn.btn__4 {
    width: 161px;
    margin-left: 10px;
}
.nav-link.custom__link {
    margin-left: 35px;
}