a:any-link {
    text-decoration: none;
}
.custom__page__title {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 14px;
    color: #4F4F4F;
}
.custom__hr__line {
    width: 62px;
    height: 1px;
    background-color: #CCCCCC;
    margin: 0 10px;
}
@media (min-width: 1000px) {
    .custom__img {
        width: 24px;
        height: 25px;
    } 
}

