* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a:any-link {
    text-decoration: none;
}
ul, li{
    list-style: none;
}
img{
    padding: 0;
}

.flex{
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}