@model Helperland.Models.ViewModel.LoginViewModel;

<link href="~/css/partial/_login.css" rel="stylesheet" />

<div class="modal nav-modal" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="loginModalLabel">Login to your account</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form method="post">

                    @if (ViewBag.HasError == true)
                    {
                        <div class="form-group">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                @ViewBag.ErrorMessage
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <input asp-for="Email" type="text" class="form-control" placeholder="Email" required />
                        <img src="~/images/email_icon.png" alt="">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" required />
                        <img src="~/images/lock_icon.png" alt="">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div class="text-center">
                        <a href="#" class="login-modal-link" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#forgotModal">Forgot Password?</a>
                        <p>Don't have an account? <a asp-controller="Home" asp-action="UserRegistration" asp-route-returnUrl="@Context.Request.Path" class="login-modal-link">Create an account</a></p>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Login Model Ends -->
<!-- Forgot Password Starts -->
<div class="modal fade nav-modal" id="forgotModal" tabindex="-1" aria-labelledby="forgotModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="forgotModalLabel">Forgot Password</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <button type="button" class="btn btn-primary">Send</button>
                <div class="text-center">
                    <a href="#" class="login-modal-link" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal">Login now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Forgot Password Ends -->