<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - Helperland</title>

    @* Bootstrap CDN links *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet">

    @* Custom CSS files *@
    <link href="~/css/static-page-navbar.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />

</head>
<body>

    <!-- Main Navbar Starts -->
    <header>
        <nav class="navbar navbar-light fixed-top">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo-small.png" alt="">
            </a>
            <ul class="nav justify-content-end d-none d-lg-flex">
                <li class="nav-item btn-border">
                    <a class="nav-link" href="#">Book now</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Prices">Prices & services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Warranty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
                <li class="nav-item btn-border">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
                </li>
                <li class="nav-item btn-border">
                    <a class="nav-link" asp-controller="Home" asp-action="ServiceProviderSignUp">Become a helper!</a>
                </li>
            </ul>
            <ul class="nav justify-content-end d-lg-none">
                <li class="nav-item btn-border" id="hamburger">
                    <img src="~/images/hamburger.svg" alt="" class="nav-link">
                </li>
            </ul>
        </nav>

        <!-- Side Navbar Starts -->
        <div class="side-navbar-wrapper" id="side-navbar-model">
            <div class="wrapper-background" id="side-navbar-wrapper">
                <div class="side-navbar" id="side-navbar-menu">
                    <div class="nav-container">
                        <ul>
                            <li><a href="#">Book Now</a></li>
                            <li><a asp-controller="Home" asp-action="Prices">Prices & Services</a></li>
                            <li><a href="#">Warranty</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                            <li><a class="side-nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a></li>
                            <li><a asp-controller="Home" asp-action="ServiceProviderSignUp">Become a helper!</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Side Navbar Ends -->
        <!-- Login Model Starts -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="loginModalLabel">Login to your account</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input">
                            <input type="text" class="form-control" placeholder="Email">
                            <img src="~/images/email_icon.png" alt="">
                        </div>
                        <div class="input">
                            <input type="text" class="form-control" placeholder="Password">
                            <img src="~/images/lock_icon.png" alt="">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Remember me
                            </label>
                        </div>
                        <button type="button" class="btn btn-primary">Login</button>
                        <div class="text-center">
                            <a href="#" class="login-modal-link" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#forgotModal">Forgot Password?</a>
                            <p>Don't have an account? <a href="#" class="login-modal-link">Create an account</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Model Ends -->
        <!-- Forgot Password Starts -->
        <div class="modal fade" id="forgotModal" tabindex="-1" aria-labelledby="forgotModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="forgotModalLabel">Forgot Password</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <button type="button" class="btn btn-primary">Send</button>
                        <div class="text-center">
                            <a href="#" class="login-modal-link" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal">Login now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Forgot Password Ends -->

    </header>
    <!-- Main Navbar Ends -->

    @RenderBody()

    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 footer-widget">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/images/footer-logo.png" alt="Helper Hand">
                        </a>
                    </div>
                    <div class="col-lg-8 footer-widget">
                        <ul class="footer-navigation d-flex justify-content-center">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Home" asp-action="About">About</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a asp-controller="Home" asp-action="Faq">FAQs</a></li>
                            <li><a href="#">Insurance Policy</a></li>
                            <li><a href="#">Impressum</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footer-widget">
                        <ul class="social-media-list d-flex justify-content-end">
                            <li>
                                <a href="#">
                                    <img src="~/images/ic-facebook.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/images/ic-instagram.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container d-flex justify-content-center align-items-center">
                <p class="text-center">©2018 Helperland. All rights reserved. <a href="#">Terms and Conditions</a> | <a href="#">Privacy Policy</a></p>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    @* Custom JS File *@
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
